.navigation {
    flex: 1;
    height: 100vh;
    border-right: solid 1px grey;
    background-color: grey;
  }
  
  .navigation > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;
  }
  
  .navigation > ul > li {
    flex: 1;
    text-align: center;
  }
  
  .navigation > ul > li > div {
    padding: 5rem 2rem;
  }

  .g-signin2 {
    visibility: hidden;
  }